<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>



  </ion-toolbar>
</ion-header>

<ion-content>

  

  
  <div *ngIf="totalPosts > 0" class="ion-text-center ion-padding">
  Found {{ totalPosts }}
</div>

<ion-card *ngFor="let post of posts">
  <ion-card-header>
    <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
    <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img [src]="post.media_url" *ngIf="post.media_url" class="post-img">
    <div [innerHTML]="post.excerpt.rendered"></div>
    <ion-button expand="full" fill="clear" [routerLink]="['/', 'posts', post.id]" text-right>Read More...</ion-button>
  </ion-card-content>
</ion-card>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingText="Loading more posts...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
